.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
  color: $text-white-color;

  &_transparent{
    background-color: transparent;
    border-color: #fff;
  }

  &_red{
    background-color: $button-background-red;
    border-color: #B12925 !important;

    &:hover{
      background-color: #8C0912;
      border-color: #8C0912 !important;
    }
  }

  &_style_yellow{
    &:hover{
      border-color: #F1B83B;
      color: #F1B83B;
    }
  }
}