$text-white-color: #fff;
$text-yellow-color:#F1B83B;
$text-grey-color:#ADADB9;

$main-background-color: #1B1B1F;
$button-background-red: #B12925;


$screen-375: 375px;
$screen-425: 425px;
$screen-640: 640px;
$screen-768: 768px;
$screen-1024: 1024px;
$screen-1280: 1280px;
$screen-1360: 1360px;
$screen-1513: 1513px;