.description{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;

  a{
    text-decoration: none;
    min-width: 207px;
  }

  &__chapter{
    display: none;

    @include laptop{
      margin: 82px 0 0;
    }
  }

  &__chapter-element{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $text-white-color;
    margin: 0;
  }

  &__chapter-element_color_yellow{
    color: $text-yellow-color;
  }

  &__point{
    background-image: url("../../src/blocks/description/description__point.svg");
    align-self: center;
    margin: 0 9px 0 8px;
    width: 4px;
    height: 4px;
  }

  &__title{
    margin: 39px 0 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: $text-white-color;

    @include laptop{
      margin-top: 165px;
      font-size: 34px;
      line-height: 36px;
    }

    @include desktop{
      margin-top: 270px;
      font-size: 38px;
      line-height: 50px;
    }
  }

  &__subtitle{
    margin: 16px 0 0;
    color: $text-white-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;

    @include laptop{
      width: 90%;
    }

    @include desktop{
      width: 50%;
    }
  }

  &__button-container{
    margin: 51px 0 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include laptop{
      margin-top: 40px;
      flex-direction: row;
    }

    @include desktop{
      margin-top: 70px;
    }
  }

  &__button{
    width: 100%;
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 0;

    svg{
      margin: 0 0 0 12px;
    }

    &:hover svg{
      stroke: white;
    }

    &_grey{
      background-color: transparent;
      color: #ADAFB4;
      border-color: #ADAFB4;

      &:hover{
        color: $text-white-color;
        border-color: $text-white-color;
      }
    }

    @media (min-width: $screen-768){
      max-width: 274px;

      &:nth-child(2){
        width: 161px;
      }
    }
  }
}