.footer{
  max-width: 1512px;
  width: 100%;
  padding: 0 5% 25px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 32px auto 0;
  background-color: #2A2A2F;
  position: relative;
  z-index: 1;

  @include desktop{
    min-height: 319px;
  }

  &__container{
    margin: 0;
    display: flex;
    flex-direction: column;

    @include laptop{
      display: grid;
      column-gap: 32px;
      grid-template-columns: 78px auto auto auto;
      grid-template-rows: auto auto;
      justify-items: start;
      align-items: start;
      margin-bottom: 42px!important;
      row-gap: 32px;
    }

    @include desktop{
      margin-top: 47px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 30px;
    }
  }

  &__logo{
    width: 78px;
    align-self: start;
    aspect-ratio: 78/44;
    margin: 0;

    @include desktop{
      margin-right: 60px;
    }
  }

  &__menu{
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    row-gap: 6px;
  }

  &__menu-element{
    max-width: 184px;
  }

  &__menu-element_style_active-mobile{
    @include laptop{
      display: none;
    }
  }

  &__menu_style_disabled{
    display: none;

    @include laptop{
      display: block;
    }
  }

  &__menu-element_margin{
    margin-top: 39px  !important;

    @include laptop{
      margin-top: 0 !important;
    }
  }

  &__link{
    text-decoration: none;
  }

  &__link_style_white{
    color: $text-white-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  &__link_style_grey{
    color: $text-grey-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    @include laptop{
      color: $text-white-color;
      font-weight: 500;
    }
  }

  &__branch{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;

    &_margin{
      margin-top: 26px;

      @include laptop{
        margin-top: 0;
      }
    }
  }

  &__branch-moscow{
    margin: 41px 0 0;
    @include laptop{
      margin-top: 0;
      grid-column: 3/4;
      width: 160px;
    }
  }

  &__branch-vl{
    @include laptop{
      grid-column: 4/5;
      width: 185px;
    }
  }

  &__element-city{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: $text-grey-color;
  }

  &__element-contact{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: $text-white-color;
  }

  &__element-address{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $text-grey-color;
  }

  &__copyright{
    margin:30px 0 0;
    border-top: 1px solid #686872;
    padding: 11px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-sizing: border-box;

    @include laptop{
      column-gap: 32px;
      display: grid;
      grid-template-columns: 78px auto auto auto;
      grid-template-rows: 1fr;
    }

    @include desktop{
      gap: 0;
      display: flex;
      flex-direction: row;
      margin-top: 50px;
    }
  }

  &__copyright-element{
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: $text-grey-color;

    @include desktop{
      font-size: 14px;
    }


    &_style_confidentiality{
      @include laptop{
        grid-column: 3/4;
        grid-row: 1/2;
        width: 185px;
      }
      @include desktop{
        order: 2;
        margin-left: 170px;
        width: max-content;
      }
    }

    &_style_agreement{
      @include laptop {
        grid-column: 4/5;
        grid-row: 1/2;
        width: 185px;
      }

      @include desktop{
        order: 3;
        margin-left: 24px;
        width: max-content;
      }
    }

    &_style_copyright{
      @include laptop{
        grid-column: 1/3;
        grid-row: 1/2;
        width: 175px;
      }

      @include desktop{
        order: 1;
      }
    }
  }

  &__copyright-element_margin{
    margin: 19px 0 24px;

    @include laptop{
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__lable{
    background-image: url("../../src/blocks/footer/footer__lable.svg");
    position: absolute;
    bottom: 0;
    left: 5.5%;
    width: 150px;
    aspect-ratio: 150/165;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @include laptop{
      width: 206px;
      aspect-ratio: 206/227;
    }

    @include desktop{
      width: 291px;
      aspect-ratio: 291/316;
    }
  }

}