.conclusion{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 1512px;

  &__container{
    background-image: url("../../src/blocks/conclusion/conclusion__background_mobile.svg");
    width: 100%;
    aspect-ratio: 286/710;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 32px 0 0;
    align-items: center;

    @media (min-width: $screen-768){
      background-image: url("../../src/blocks/conclusion/conclusion__background_laptop.svg");
      aspect-ratio: 704/558;
      min-width: 704px;
    }

    @media (min-width: $screen-1280){
      background-image: url("../../src/blocks/conclusion/conclusion__background_desktop.svg");
      aspect-ratio: 1248/540;
    }
  }

  &__wrapper{
    display: flex;
    width: 89%;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $screen-768){
      align-items: start;
    }

    @media (min-width: $screen-1280){
      width: 79%;
    }
  }

  &__title{
    color: $text-white-color;
    width: 100%;
    margin: 24px 0 0;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;

    span{
      color: $text-yellow-color;
    }

    @media (min-width: $screen-768){
      margin-top: 52px;
      width: auto;
      font-size: 32px;
      line-height: 28px;
    }

    @media (min-width: $screen-1280){
      margin-top: 61px;
      line-height: 35px;
      width: 60%;
    }
  }

  &__subtitle{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $text-white-color;
    margin: 26px 0 0;

    @media (min-width: $screen-768){
      margin-top: 24px;
      font-size: 18px;
      line-height: 23px;
    }

    @media (min-width: $screen-1280){
      margin-top: 16px;
      font-size: 20px;
      line-height: 32px;
    }
  }

  &__elements{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 32px 0 0;


    @media (min-width: $screen-1280){
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__button{
    width: 100%;
    height: 40px;
    margin:0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $screen-425){
      width: 352px;
    }
    &:before {
      content: "Расчет доставки";

      @media (min-width: $screen-1280) {
        content: "Общий расчет доставки";
      }
    }

    @media (min-width: $screen-1280) {
      width: 211px;
      order: 2;
    }
  }

  &__two-columns{
    display: flex;
    flex-direction: column;
    margin: 24px 0 0;

    @media (min-width: $screen-768){
      margin-top: 32px;
      flex-direction: row;
    }
    @media (min-width: $screen-1280){
      margin: 0;
      order: 1;
    }
  }

  &__contact-element{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: $text-white-color;
    text-align: center;

    &:nth-child(even){
      margin-top: 8px;

      @media (min-width: $screen-768){
        margin-top: 0;
        margin-left: 19px;
      }

      @media (min-width: $screen-1280){
        margin-left: 34px;
      }
    }
  }

  &__icon{
    margin: 0 12px 0 0;

    &_size_phone{
      width: 16px;
      aspect-ratio: 1/1;

      @media (min-width: $screen-425){
        width: 14px;
      }

      @media (min-width: $screen-1280){
        width: 16px;
      }
    }

    &_size_mail{
      width: 17px;
      height: 13px;
    }
  }


}