@import "../../variables/mixins.scss";

.header{
  width: 90%;
  margin: 0 auto;
  min-width: 288px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__wrapper{
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  &__background{
    position: absolute;
    background-image: url("../../src/blocks/header/header__background_mobile.svg");
    width: 100%;
    top: 0;
    left: 0;
    min-height: 690px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;


    @include laptop{
      background-image: url("../../src/blocks/header/header__background_laptop.svg");
      min-height: 997px;
    }

    @include desktop{
      background-image: url("../../src/blocks/header/header__background_desktop.svg");
      min-height: 1043px;
    }
  }

  &__container{
    width: 100%;
    display: flex;
    margin: 0;
    align-items: center;


    &:nth-child(3){
      justify-content: end;
    }

    @include desktop{
      gap: 16px;
    }
  }

  &__logo{
    margin: 0;
    align-self: start;
    width: 96px;
    height: 52px;

    @include laptop{
      width: 128px;
      height: 69px;
    }

    @include desktop{
      width: 148px;
      height: 80px;
    }
  }

  &__nav{
    display: none;
    align-items: center;

    @include desktop{
      display: flex;
      margin: 0 0 0 2.6%;
      gap: 16px;
    }
  }

  &__element{
    color: $text-white-color;
    margin: 0;
    padding: 0;
    min-width: 94px;
    @include fonts(11px,21px,500);

    @include laptop{
      @include fonts(16px,21px,500)
    }

    @include desktop{
      display: inline-block;
      max-width: 120px;
      font-size: 14px;
      box-sizing: border-box;
    }
  }

  &__element:nth-child(2){
    display: none !important;

    @include desktop-mw{
      display: inline-block !important;
    }
  }

  &__element_style_underline{
    text-decoration: underline;
    display: none;

    @media (min-width: $screen-1280){
      display: flex !important;
    }
  }

  &__link{
    color: $text-white-color;
    margin: 0;
    text-decoration: none;

    &_active{
      color: $text-yellow-color;
    }
  }

  &__button{
    width: 160px;
    height: 40px;
    display: none !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    box-sizing: border-box;

    @include desktop{
      display: flex !important;
    }
  }

  &__burger{
    margin: 0 0 0 4px;
    width: 38px;
    height: 38px;
    cursor: pointer;


    @include laptop{
      width: 50px;
      height: 50px;
      margin-left: 12px;
    }

    @include desktop{
      display: none;
    }
  }
}