.content{
  margin: 70px 0 0;
  padding: 32px 12px 32px 24px;
  position: relative;
  z-index: 1;

  &__title{
    margin: 0;
    color: $text-white-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  &__subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $text-grey-color;
    margin: 12px 0 0;
  }

  &__list-title{
    margin: 38px 0 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $text-white-color;
  }

  &__list{
    margin: 14px 0 0;
    padding: 0;
    list-style: none;
    gap: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 280px;
    max-width: 280px;
  }

  &__list-element{
    position: relative;
    margin: 0;
    padding-left: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $text-white-color;
    box-sizing: border-box;

    &::before{
      position: absolute;
      content: "";
      background-color: #F1B83B;
      width: 4px;
      height: 4px;
      left: 0;
      top: 10px;
      border-radius: 50%;
      box-sizing: border-box;
      margin-left: 10px;
    }
  }
  &__background{
    background-image: url("../../src/blocks/content/content__background_map-mobile.png");
    position: absolute;
    min-width: 286px;
    min-height: 440px;
    top: 31px;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
  }
}